# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment 
venv/
env/
.env

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Benchmarks
benchmark_results.png

# IDE settings
.vscode/
.idea/